PORT=3000
DATABASE_URL="host=localhost user=postgres password=pass dbname=fnbackend port=5432 sslmode=disable"
SECRET=secret
PRODUCTION=false

# e.g. Chapter 2 Season 7 would be SEASON=17
SEASON=0
BACKEND_IP=127.0.0.1:3000

USER_STARTING_VBUCKS=0
USER_DAILY_VBUCKS=0